body{
    font-family: 'RocknRoll One', sans-serif;
    margin: 0;
} 
ol, ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
span{
    font-weight: bold;
}
table, td, th{
    border: 5px solid black;
}
table{
    margin: 0 auto;
    text-align: center;
    width: 50%;
 }
code{
    width: 50%;
}
#main_header{
    background-color: orange;
    color: #008a77;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-shrink: 0;
    flex-wrap: wrap;
    text-align: center;
    margin: 0;
}
#main_header a{
    color: black;
    text-decoration: none;
    display: flex;
    height: inherit;
    align-items: center;
    padding: 0 10px;
}
#navigation{
    height: inherit;
}
#main_header ul{
    display: flex ;
    height: inherit;
}
#main_header ul li{
    height: inherit;
    max-height: 100%;
}
#Inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-wrap: wrap;
    max-width: 100%;
    align-items: center;
}
#hero_text{
    width: 1280px;
    max-width: 100%;
}
#hero_title{
    text-align: center;
    font-size: 50px;
    max-width: 100%;
    font-size-adjust: inherit;
}
#hero_content{
    padding: 0 5%;
    font-size: 15px;
}
#hero_image img{
    max-width: 100%;
}
.title_section{
    text-align: center;
    font-size: 200%;
}
#members{
    width: auto;
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#members ul li{
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-shrink: 0;
    flex-wrap: wrap;
    padding: 0;
}
.member{
    border:orange;
    border-width: 2px;
    border-top: orange;
    width: 50%;
    text-align: center;
}
.member_name{
    font-size: 30px;
}
.member_image{
    border-radius: 10%;
    border:10px solid #666;
}
.member_info{
    font-size: 15px;
    padding:0 10%;
}
.informacion{
    display: flex ;
    height: inherit;
    justify-content: center;
}
.enlaces{
    margin:0 20px;
}
.member ul{
    display: flex ;
    height: inherit;
    justify-content: center;
}
.member ul li{
    display: flex ;
    height: inherit;
    align-items: center;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    margin: 0px;
}
.member a{
    text-decoration: none;
    font-size: 50px;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    height: inherit;
    align-items: center;
    padding: 0 10px;
    justify-content: center;
    color: orange;
    margin: 0;
}
.practica{
    padding:0 10%;
}
.video_informe{
    text-align: center;
}
.info_compuerta{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.info_compuerta img{
    max-width: 500px;
    max-height: 700px;
}
.codigo_compuerta{
    background-color: orange;
    padding: 0 10px;
    border: 3px solid black;
    border-radius: 5%;
}
.codigo_compuerta pre{
    text-align: left;
    font-size: 20px;
}
.next{
    text-align: center;
}
#main_footer{
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    flex-wrap: wrap;

}
footer ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
footer a{
    color: black;
    text-decoration: none;
}
footer nav a{
    display: flex;
    height: inherit;
    align-items: center;
    padding: 0 10px;
}