body{
    font-family: 'RocknRoll One', sans-serif;
    margin: 0;
    background-color: #FFF8CD;
    color: #646464;
} 
ol, ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
span{
    font-weight: bold;
}
table, td, th{
    border: 5px solid black;
}
table{
    margin: 0 auto;
    text-align: center;
    width: 50%;
 }
code{
    width: 50%;
}
a{
    text-decoration: none;
    color: #646464;
}
summary{
    padding: 1% 10%;
    font-size: 2em;
}
summary:hover{
    color: #FFF8CD;
    background-color: #FF9642;
    cursor: pointer;
}
#main_header{
    background-color: #FF9642;
    color: #008a77;
    display: flex;
    justify-content:space-around;
    flex-shrink: 0;
    flex-wrap: wrap;
    text-align: center;
    margin: 0;
}
#navegator{
    display: flex;
    align-items: center;
    font-size: 2em;
    width: 700px;
    justify-content: space-around;
}
#navegator nav{
    height: 100%;
    width: 100%;
}
#navegator nav ul{
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: space-between;

}
#navegator nav ul li{
    height: inherit;
    display: table;
    width: 25%;
    padding: 0 2%;
}
#navegator nav ul li a{
    display: table-cell;
    vertical-align: middle; 
    color: #FFF8CD;
}
#navegator nav ul li a:hover{
    background-color: #FFE05D;
    color: #646464
}
#Inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-wrap: wrap;
    max-width: 100%;
    align-items: center;
}
#hero_text{
    width: 1280px;
    max-width: 100%;
}
#hero_title{
    text-align: center;
    font-size: 50px;
    max-width: 100%;
    font-size-adjust: inherit;
}
#hero_content{
    padding: 0 5%;
    font-size: 20px;
}
#hero_image img{
    max-width: 100%;
}
.title_section{
    text-align: center;
    font-size: 200%;
}
#members{
    width: auto;
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#members ul li{
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-shrink: 0;
    flex-wrap: wrap;
    padding: 0;
}
.member{
    border:orange;
    border-width: 2px;
    border-top: orange;
    width: 50%;
    text-align: center;
}
.member_name{
    font-size: 30px;
}
.member_image{
    border-radius: 10%;
    border:10px solid #666;
}
.member_info{
    font-size: 15px;
    padding:0 10%;
}
.informacion{
    display: flex ;
    height: inherit;
    justify-content: center;
}
.enlaces{
    margin:0 20px;
}
.member ul{
    display: flex ;
    height: inherit;
    justify-content: center;
}
.member ul li{
    display: flex ;
    height: inherit;
    align-items: center;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    margin: 0px;
}
.member a{
    text-decoration: none;
    font-size: 50px;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    height: inherit;
    align-items: center;
    padding: 0 10px;
    justify-content: center;
    color: orange;
    margin: 0;
}
.practica{
    padding:0 10%;
}
.video_informe{
    text-align: center;
}
.info_compuerta{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.info_compuerta img{
    max-width: 500px;
    max-height: 700px;
}
.codigo_compuerta{
    background-color: orange;
    padding: 0 10px;
    border: 3px solid black;
    border-radius: 5%;
}
.codigo_compuerta pre{
    text-align: left;
    font-size: 20px;
}
.imagenes_respuesta{
    width: 100%;
    text-align: center;
}
.imagenes_respuesta img{
    width: 100%;
}
.next{
    text-align: center;
}
#main_footer{
    background-color: #FFE05D;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    flex-wrap: wrap;

}
footer ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
footer a{
    color: black;
    text-decoration: none;
}
footer nav a{
    display: flex;
    height: inherit;
    align-items: center;
    padding: 0 10px;
}